*{
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
}

.container{
  background-color: #D3DAD9;
}

.container2 {
  background-color: #EEEEEE;
}

.card {
  background-color: white;
}

.OS{
  margin-left: 5px;
}